@import url('https://fonts.googleapis.com/css2?family=Montenegrin+Gothic+One&display=swap');

[data-theme="dark"]{
    --background: rgb(20,20,20);
    --color: rgb(210,210,250);
    --secondary: rgb(250,250,230);
}
[data-theme="light"]{ 
    --background: rgb(210, 210, 255);
    --color: rgb(50,20,50);
    --secondary: rgb(65,40,65);
}
body{
    background-color: var(--background);
    color: var(--color);
    font-family: "Montenegrin Gothic One",serif;
}
li{
    display: inline-flex;
}
a{
    color: var(--color);
    text-decoration: none;
    transition: color .3s ease;
}
a:hover{
    color: var(--secondary);
}
#header{
    background-color: rgba(0, 0, 0, 0.31);
    width: 100%;
    padding-right: 0.5vh;
    padding-top: .8vh;
}

#header img{
    float: right;
    size: 0.1vh;
}
#header img:hover{
    cursor: pointer;
}
